@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-nunito-sans: 'Nunito Sans';
  --color-accent: #f5f1de;

  --headers-height: 56px;
}

@layer base {
  html {
    font-family: var(--font-nunito-sans), sans-serif;
    background-color: #eaeaea;
  }
}