@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --font-nunito-sans: 'Nunito Sans';

  --color-main: #361e0b;
  --color-accent: #d3e0cb;
  --color-text-main: #000;
  --color-text-reverted: #fff;
  --color-bg-main: #f4f4f4;
  --color-bg-message: #e8e8e8;

  --color-bg-button-secondary: #703f19;
  --color-text-button-secondary: #2affe5;

  --color-main-hover: #9d653b;

  --headers-height: 56px;
  --text-input-height: 60px;
  --chat-sidebar-small-width: 300px;
  --chat-sidebar-big-width: 420px;
  --sidebar-width: 400px;

  --typing-dot-size: 8px;
  --typing-dot-color: var(--color-main);
  --typing-dots-speed: 1s;
}

@layer base {
  html {
    font-family: var(--font-nunito-sans), sans-serif;
    color: var(--color-text-main);
  }
}

@layer components {
  .typing-dots {
    @apply flex items-center;
  }

  .typing-dots span {
    @apply rounded-full;
    width: var(--typing-dot-size);
    height: var(--typing-dot-size);
    background-color: var(--typing-dot-color);
    animation: typing-blink var(--typing-dots-speed) infinite both;
  }

  .typing-dots span:nth-child(2) {
    animation-delay: 0.2s;
    margin: 0 6px;
  }

  .typing-dots span:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes typing-blink {
  0% {
    opacity: .1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}

[data-sonner-toast][data-styled=true] {
  width: auto;
}

div[role='dialog'] {
  background: var(--color-text-reverted);
}